<div class="historia">
	<br><br />
	<big>

		<img class="imagem" src="~/Fotos/historia1.jpg" />
		<h3 class="none">Sinopse</h3>
		<p>
			Ivalice é um reino medieval que sofre os efeitos posteriores da Guerra dos Cinqüenta Anos.
			Está dividido ao longo das linhas de classe: grandes famílias nobres, como a Casa Beoulve,
			dominam as massas de camponeses, os senhores governam as províncias como seus feudos pessoais,
			enquanto a monarquia é enfraquecida pela intriga.
			O poder real em Ivalice é a Igreja de Glabados ,baseada em torno da divindade de Saint Ajora Glabados,
			com o seu braço militar sendo os Cavaleiros Templários.
			Usando a manipulação, a igreja está puxando as cordas para criar desordem em Ivalice e para derrotar os poderes seculares.
			Dois exércitos independentes, a Ordem do Céu do Norte,liderada pelo Príncipe Larg – irmão da Rainha Louveria –
			e a Ordem do Céu Meridional, liderada pelo duque Goltanna, são forças rivais. Eles lutam pelo controle da monarquia,
			esperando tomar o controle do sucessor infantil do Rei Ondoria para usar como fantoche para governar Ivalice.
			O rei tem dois filhos, sua meia-irmã adotiva adolescente, a princesa Ovelia e o jovem príncipe Orinus.
			A princesa, no Mosteiro de Orbonne, é alvo de forças da Ordem do Céu do Sul. Ramza Beoulve,
			um mercenário sob o ganancioso Goffard Gaffgarion,é contratado para protegê-la, trabalhando
			com os guarda-costas de Ovelia,liderados por Agrias Oaks. Os mercenários e os guarda-costas
			derrotam as forças enviadas pelo Céu do Norte,mas a princesa é capturada por Delita Heiral ,
			amiga de infância de Ramza. Quando Ramza vê Delita novamente,
			ele relembra o tempo que levou ao desaparecimento de Delita e Ramza rejeitou seu nome de família.
		</p>
		<img class="cenario2" src="~/Fotos/vilao2.jpg" />
		<br /><br />
		<p>
			O reino de Ivalice; para sempre guardados pelos leões gêmeos e pelo sol que brilha sobre eles…
			Um ano após a derrota da Guerra dos 50 Anos, o Rei morreu de uma doença terminal mais cedo
			e o príncipe que o sucedeu tinha apenas 2 anos de idade.Isso significava que seu guardião reinaria em seu lugar como rei.
			O irmão mais velho da rainha, Larg, foi designado como guardião, mas, temendo um reinado opressivo da rainha,
			o parlamento derrubou o príncipe em potencial.Nomeando em vez disso o primo do rei, o príncipe Goltana,
			como o guardião. O Príncipe Goltanna e o Príncipe Larg são ambos generais respeitados que
			se mostraram na Guerra dos 50 Anos. O príncipe Goltana contava com o apoio dos nobres poderosos,
			mas os nobres e cavaleiros desprivilegiados apoiavam claramente o príncipe Larg. O Leão Negro simboliza o
			Príncipe Goltana e o Leão Branco simboliza o Príncipe Larg.
			Arazlam Durai , um estudioso histórico pesquisando o passado, se depara com os escritos de seus ancestrais,
			os Durai Papers , que contam a verdade sobre o lendário herói, Delita Heiral.
			Os jornais sugerem que o verdadeiro herói era um nobre chamado Ramza Beoulve, cujo papel foi perdido para a história.
			Ramza, que deixou de lado sua nobreza e se juntou a um grupo de mercenários, chega ao Mosteiro de Orbonne
			com o resto do grupo, liderado por Goffard Gaffgarion.
			O mosteiro, onde a princesa Ovelia Atkascha está residindo, é atacado por
			vários Cavaleiros do Céu do Norte vestidos como Cavaleiros do Céu do Sul, e o grupo de Gaffgarion,
			contratado para defender a princesa, ajuda a combatê-los.
			Durante o ataque, Delita entra e sequestra a princesa. Agrias Oaks, guarda-costas da princesa,
			junta-se ao grupo de Ramza em caçar Delita. Ramza,que não via Delita há anos e achava que estava morto,
			fica chocado e não consegue entender suas intenções.
			Ele pensa nos tempos em que os dois costumavam lutar juntos na Ordem do Céu do Norte.
		</p>
	</big>
</div>
<style>
	.historia {
		background-image: url('../../Fotos/pergaminho.jpg');
		background-attachment: scroll;
	}

	.imagem {
		width: 800px;
		height: 300px;
		padding-left: 90px;
	}

	.cenario2 {
		width: 600px;
		height: 300px;
		position: center;
		padding-left: 200px;
	}
</style>