@{
	ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title</h2>
<address>
	<h3>AvaGames</h3><br />
	Edifício Vitória,125<br />
	<abbr title="Phone">Telefone:</abbr>
	3393-0000
</address>
<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<img class="icone" src="~/Fotos/twitch.png" />
<img class="icone" src="~/Fotos/facebook1.jpg" />
<img class="icone" src="~/Fotos/instagram2.png" />
<img class="icone" src="~/Fotos/twitter.png" />
<style>
	.icone {
		width: 40px;
		height: 40px;
	}
</style>