@{
	ViewBag.Title = "Home Page";
}
<div id="fotoDoMenu">
	<img src="~/Fotos/Design sem nome (1).png" />
</div>
<div class="row">
	<div class="col-md-4">
		<img class="torneio" src="~/Fotos/torneio.jpg" />
		<h2>Torneios</h2>
		<p>
			O espírito esportivo contém elementos fundamentais
			para as relações humanas: respeito ao próximo, resolução dos conflitos,
			equilíbrio dos direitos e deveres de cada um, cooperação e diálogo.
		</p>
		<p><a class="btn btn-default" href="">Saiba Mais &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<img class="coliseu" src="~/Fotos/coliseu.jpg" />
		<h2>Nova Atualização</h2>
		<p>
			Teremos novas arenas.<br />
			Nessa Versão as mensagens globais aparecem <br />
			apenas para jogadores acima do nível 30.<br />
			Recompensas e estágios reformulados.
		</p>
		<p><a class="btn btn-default" href="">Saiba Mais&raquo;</a></p>
	</div>
	<div class="col-md-4">
		<img class="armas" src="~/Fotos/armas.jpg" />
		<h2>Compre Mais Recursos</h2>
		<p>
			Está dificil?<br>
			Pacote com armas niveis maior que 100.<br>
		</p>
		<p><a class="btn btn-default" href="">Saiba Mais &raquo;</a></p>
	</div>
</div>
<br>
<br>
<br>
<div class="row">
	<div class="col-md-4">
		<img class="pacote2" src="~/Fotos/pacote com vida[.jpg" />
		<h2>Pacote Kit Sobrevivencia</h2>
		<p>
			Esse pacote possui mais vidas que para o seu personagem,
			com mapas exclusivos, armas e chaves.
		</p>
		<p><a class="btn btn-default" href="">Saiba Mais &raquo;</a></p>
	</div>
	<div class="col-md-4">
		<img class="moedas" src="~/Fotos/moeda em gif.gif" />
		<h2>Moedas</h2>
		<p>
			Está sem moedas?<br>
			Temos aqui!!!
		</p>
		<p><a class="btn btn-default" href="">Saiba Mais&raquo;</a></p>
	</div>
	<div class="col-md-4">
		<img class="diamante" src="~/Fotos/diamante1.jpg" />
		<h2>Diamantes</h2>
		<p>
			Os Diamantes são o recurso mais valioso no AvaGames,
			eles permitem que você obtenha algumas vantagens
			dentro do jogo e saia na frente nas partidas..
		</p>
		<p><a class="btn btn-default" href="">Saiba Mais &raquo;</a></p>
	</div>
</div>
<style>
	img {
		margin: 10px 0 10px 0;
		width: 1080px;
		height: 500px;
	}

	.torneio {
		width: 350px;
		height: 200px;
	}

	.avatarzinho {
	}

	.armas,
	.diamante,
	.moedas,
	.pacote2,
	.coliseu {
		width: 300px;
		height: 200px;
	}
</style>